<h1>Ceci est la création d'un nouveau cocktail</h1>


<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, string: 'Nom du cocktail' %>
  <%= f.button :submit %>
<% end %>


<!--
ICI C'EST SIMPLE FORM QUI CREE LE CHAMP CREATE COCKTAIL AINSI
QUE *NAME (f.input :name)
 -->
