<ul class="nav nav-pills">
  <li><%= link_to "Lister les cocktails", cocktails_path  %></li>
  <li><%= link_to "Créer un cocktails", new_cocktail_path %></li>
</ul>


<!-- MATTHIEU L'A CREE A LA MAIN, COMME UNE NAVBAR, UN PARTIAL -->
